mat-toolbar {
  padding: 0;
}

.toolbar-content {
  /*max-width: 2000px;*/
  box-shadow: none;
  color: rgb(255, 255, 255, 0.671);
  background-color: rgba(39, 35, 35, 0);
  /*color: rgba(237, 239, 254, 0.775);*/
  font-size: 18px;
}

.mat-icon {
  vertical-align: middle;
}

.button-content {
  /*font-size: 20px;
    color: rgba(0, 0, 0, 0.577)
    /*color: rgb(255, 255, 255, 0.671);*/
  color: rgb(255, 255, 255, 0.671);
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 120px;

}

.button-content:hover {
  background-color: rgba(255, 255, 255, 0);

}

.button-toolbar:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

/* .button-content:hover{
    font-size: 30px;
    color: rgb(237, 239, 254)
    color: rgb(255, 255, 255, 0.671);
  } */


.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 300px;
  width: 300px;
}

.Welcome{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}


/*.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  */