<div class="dialog-content-all">
<h1 mat-dialog-title>Kamayuc Team</h1>

<img mat-card-image src="../../../../assets/img/kamayuc.jpg" alt="Photo of Kamayuc">
<mat-dialog-content class="mat-typography">
    <p>The Kamayuc team was formed in September 2018. The team was a finalist in the European Rover Challenge 2020 competition,
       ranking 16th. Currently the team is formed by university students, recent graduates and with specialists from different 
       areas with vast experience in aerospace robotics and science projects, which allows us to efficiently cover all aspects 
       involved in the development of our Rover called Yupanqui.
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <a mat-raised-button href="https://www.facebook.com/Kamayuc/?ref=page_internal" target="_blank">Visit us</a>
  </mat-dialog-actions>
</div>
