<!-- video rover -->

<!--fin  video rover -->
<!-- estadisticas -->
<app-rover-map class="footer"></app-rover-map>
<div class="footer">

  <div class="bg-stats">
    <div class="container-fluid">
      <div class="row align-items-end">
        <div class="col-8">
          <div class="row align-items-end ">
            <div class="custom-box col-3"><img class="img-fluid" src="../../../assets/img/stat3.png"></div>
            <div class="custom-box col-3"><img class="img-fluid" src="../../../assets/img/stat5.png"></div>
            <div class="custom-box col-3"><img class="img-fluid" src="../../../assets/img/stat4.png"></div>
            <div class="custom-box col-3"><img class="img-fluid" src="../../../assets/img/stat2.png"></div>
          </div>
        </div>
        <div class="col-4 nopadding">
          <div class="d-flex flex-row-reverse" style="padding-right: -12px;">

            <img class="img-fluid" src="../../../assets/img/stat1.png">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin estadisticas -->